<div class="ruler">
    <svg class="ico z-send"><use xlink:href="#z-send" /></svg>
    <div class="ruler__text">
        Muitas Formas de <strong>Entrega</strong>
        <span>saiba mais</span>
    </div>
</div>
<div class="ruler">
    <svg class="ico z-card"><use xlink:href="#z-card" /></svg>
    <div class="ruler__text">
        Até <strong>12x</strong> sem juros
        <span>saiba mais</span>
    </div>
</div>
<div class="ruler">
    <svg class="ico z-boleto"><use xlink:href="#z-boleto" /></svg>
    <div class="ruler__text">
        <strong>Débito</strong> ou <strong>Boleto</strong>
        <span>saiba mais</span>
    </div>
</div>
<div class="ruler">
    <svg class="ico z-certificado"><use xlink:href="#z-certificado" /></svg>
    <div class="ruler__text">
        <strong>Certificado</strong> Aquecedores
        <span>saiba mais</span>
    </div>
</div>