<div class="socials-securitys">
    <div class="socials-securitys__container">
        <div class="socials">
            <h3 class="socials-securitys__title">Siga a <strong>Globalmar</strong></h3>
            <div class="socials-securitys__content">
                {{widget type="interface/widget_social" template="interface/widgets/social.phtml" identificador="socials" redes="all"}}
            </div>
        </div>
        <div class="securitys">
            <h3 class="socials-securitys__title">Compra <strong>Segura</strong></h3>
            <div class="socials-securitys__content">
                {{widget type="interface/widget_seals" template="interface/widgets/seals.phtml" identificador="securitys" seals="all"}}
            </div>
        </div>
    </div>
</div>