color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #073166
color1_bg_hover = #0758ff
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #7800ff
color2_bg_hover = #1a2fff
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #fff001
color3_bg_hover = #fff001
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #CA213E
button_bg_hover = #990000
// media
down = '/media/interface/images/down.png'