.cms-home .header-container + .banner
    margin-top: -16px

.banner
    img
        min-width: 100%
        object-fit: cover

#banner__regua-de-vantagens
    border-radius: 2px
    background: #fff

    .banner
        &__wrapper
            display: flex
            justify-content: space-between
            margin: 0 auto

            @media media-min-lg
                padding: 20px 15px
                max-width: 1120px

            @media media-max-lg
                flex-flow: wrap

            @media media-max-sm
                padding: 15px 5px

        &__item
            flex: 0 1 auto
            min-width: 0
            width: auto

            @media media-max-lg
                flex: 0 1 50%

            @media media-min-sm
                padding: 15px

            @media media-max-sm
                padding: 15px 5px

            @media media-min-lg
                padding: 0

#banner__home-banner-vitrine
    img
        border-radius: 10px

    .banner
        &__wrapper
            margin-right: -8px
            margin-left: -8px
            width: auto !important
            column-count: 2

            @media media-max-sm
                column-count: 1

        &__item
            padding: 8px

#banner__solucoes-para-piscina
    img
        border-radius: 10px

    .banner
        &__wrapper
            display: flex
            flex-flow: row wrap
            justify-content: space-between
            margin-right: -15px
            margin-left: -15px
            width: auto !important

        &__item
            flex: 1 1 206px
            padding: 15px
            min-width: 0

#banner__banner-categories
    margin: 50px -10px

    img
        min-width: none
        object-fit: contain

    .banner
        &__item
            overflow: hidden
            margin: 10px
            border-radius: 10px
