#categories--solutions
    &.categories
        margin-top: 30px
        background: none

        &--justify .ul--1
            max-width: none
            width: auto

        a
            img, svg
                max-height: none
                width: 100%
                border-radius: 10px
                transition: all .2s ease
                object-fit: cover

            &:hover
                background: none !important
                box-shadow: none !important

        .a--0
            display: block
            margin-bottom: 20px
            padding: 0
            color: var(--text)
            text-align: left
            text-transform: uppercase
            white-space: normal
            font-weight: light
            font-size: 26px
            line-height: 1

            span
                display: inline
                flex: 0 0 auto
                width: 100%

            &:after
                margin-left: 10px
                color: var(--primary-hover)
                content: 'saiba mais'
                text-transform: lowercase
                font-size: 17px
                line-height: 1.2

        .a--1
            padding: 15px

            > span
                display: none

        .box--1
            position: static
            padding: 0
            background: none
            box-shadow: none
            transform: none

        .ul--1
            display: flex
            margin: -15px
            max-height: none
            transition: all .2s ease

            @media media-max-lg
                flex-wrap: wrap

            &:hover
                .li--1
                    opacity: .6

                    &:hover
                        opacity: 1

        .li--0
            &:hover
                .a--0
                    background: none

        .li--1
            flex: 1
            min-width: 0

            @media media-max-lg
                flex: 1 1 210px