.contact
    padding-top: 5px
    height: 30px
    color: var(--primary-contrast)
    text-align: right
    font-weight: light
    font-size: 15px

    @media media-max-lg
        display: none

    &__tel
        color: var(--primary-contrast)
        font-weight: bold
        font-style: italic

    &__whatsapp
        color: var(--whatsapp)