.footer
    --title: #344653
    --link: #7b7b7b

    &
        @media media-max-lg
            max-width: 100%

    &__button
        position: absolute
        top: -45px
        left: 50%
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        width: 275px
        height: 45px
        border-radius: 10px 10px 0 0
        background: #fff
        box-shadow: none
        color: var(--title)
        font-weight: light
        font-size: 18px
        transform: translateX(-50%)

        .on &
            background: #f7f7f7

            .ico
                transform: rotate(0)

        &:hover
            background: #fff
            color: var(--title)

            .ico
                fill: var(--title)

            .on &
                background: #f7f7f7

        .ico
            margin-left: 5px
            width: 18px
            height: 10px
            transform: rotate(180deg)

    @media media-max-lg
        text-align: center

        .mymenu .ul--0
            text-align: center

    &-container
        margin-top: 100px
        background: #ffffff

    &__more
        position: relative
        background: #f7f7f7

        shadowBorder()

        .mymenu
            .li--0
                margin-bottom: 0

            .a--0
                color: var(--link)
                font-weight: light
                font-size: 18px
                line-height: 27px

    &__box
        padding: 30px 0 0

        @media media-min-lg
            + .footer__box
                margin-left: 10%

    &__nav
        overflow: hidden
        max-height: 0
        transition: all .2s ease

        @media media-min-lg
            display: flex
            justify-content: flex-start
            align-items: flex-start

        .on &
            padding-bottom: 30px
            max-height: 500px

    &__title
        padding-bottom: 10px
        color: var(--title)
        font-weight: light
        font-size: 18px

    &__row
        .mymenu
            .a--0
                display: inline-block
                color: var(--title)
                font-weight: light
                font-size: 18px

            .li--0
                margin: 0

                @media media-min-lg
                    + .li--0
                        margin-left: 40px

            .ul--0
                @media media-min-lg
                    display: flex
                    justify-content: flex-start
                    align-items: center

    &__copyright
        color: var(--link)
        font-weight: light
        font-size: 18px
        line-height: 1

        p
            line-height: 1.3
