.help
    display: flex
    justify-content: center
    align-items: center
    color: var(--text)
    font-weight: light
    font-size: 22px

    .ico
        margin-right: 20px
        width: 60px
        height: 50px

#banner__banner-help
    --color: #a2a2a2

    &
        margin: 50px auto
        max-width: 'calc(100% - %s)' % gap
        width: viewport
        border-top: solid 1px var(--color)
        border-bottom: solid 1px var(--color)