.modal
    &__close
        top: 0
        right: 0
        padding: 0
        width: 80px
        height: 80px
        border: 0
        background: none
        box-shadow: none
        color: #777a84

        &:hover
            background: none

        .ico
            width: 35px
            height: 35px
            fill: #777a84 !important

        &:before
            display: none

    &__content
        padding: 50px

    &__box
        border-radius: 10px
