.mymenu
    .header &
        @media media-max-lg
            display: none

        .ul--0
            display: flex
            justify-content: flex-start
            margin-left: 5px

        .li--0
            margin-bottom: 0

            &.bold .a--0
                font-weight: bold

            &.offers .a--0
                span
                    padding: 5px 10px
                    border-radius: 30px
                    background: var(--tertiary)
                    color: var(--primary)
                    font-weight: bold

        .a--0
            display: flex
            justify-content: center
            align-items: center
            overflow: hidden
            padding: 0 8px
            max-width: 100%
            height: 50px
            color: var(--secundary-contrast)
            text-overflow: ellipsis
            white-space: nowrap
            font-weight: light
            font-size: 16px
            line-height: 1
