.mywish
    .header &
        margin-left: 0

        @media media-max-lg
            display: none

        &__header
            a
                display: flex
                justify-content: center
                align-items: flex-end
                min-height: 30px
                height: 100%
                color: var(--secundary-contrast)
                font-weight: light
                font-size: 15px

                span
                    line-height: 1

            .ico
                position: relative
                top: -2px
                margin-left: 3px
                width: 14px
                height: 9px
                color: var(--tertiary)