.pays, .ships
    &__title
        color: #344653
        text-transform: uppercase
        font-weight: 300
        font-size: 32px

    svg, img
        height: 25px

    + h3
        margin-top: 30px

#lightbox-payment-send
    .std
        color: #344653

        h3
            text-transform: uppercase
            font-weight: light
            font-size: 23px

        h4
            font-size: 16px