.ruler
    --color: #344653

    &
        display: flex
        justify-content: flex-start
        align-items: center
        color: var(--color)
        font-weight: light
        font-size: 19px
        line-height: 1

    .ico
        margin-right: 10px
        width: 50px
        height: 50px

    span
        display: block
        color: var(--secundary-hover)
        font-size: 14px