.socials
    &__link
        display: flex
        justify-content: center
        align-items: center
        width: 50px
        height: 50px
        border-radius: 50%

    &__svg
        width: 30px
        height: 30px

    .facebook &__link
        background: var(--facebook)

    .youtube &__link
        background: var(--youtube)

    .instagram &__link
        background: linear-gradient(45deg, #ffd879, #e25762, #6c66dd)
