.top-shipping
    display: flex
    justify-content: flex-end
    align-items: center
    min-height: 40px
    color: var(--secundary-contrast)
    text-align: right
    font-weight: light
    font-size: 19px

    @media media-max-lg
        display: none

    .ico
        margin-right: 3px
        width: 24px
        height: 24px
        color: var(--tertiary)