
.cart__links
    .btn-checkout
        padding: 0 20px
        height: 41px
        border-radius: 10px
        background: linear-gradient(to bottom, var(--secundary) 30%, var(--secundary-hover))
        font-weight: light
        font-size: 14px

        &:hover
            background: linear-gradient(to bottom, var(--secundary) 30%, var(--secundary-hover))