.related, .recommended, .whosaw, .jointsales, .upsell
    @media media-max-sm
        &__title
            margin: 0
            color: var(--text)
            font-weight: regular
            font-size: 16px

    @media media-min-sm
        &__title
            padding-bottom: 14px
            color: #344653
            font-weight: light
            font-size: 26px